<?xml version="1.0"?>

<robot name="delto_4f" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find dg4f_description)/urdf/dg4f.urdf" />

    <link name="world" />

    <link name="base_link" />

    <joint name="world_to_base_fixed" type="fixed">
        <parent link="world" />
        <child link="base_link" />
        <origin xyz="0 0 0.1" rpy="0 0 0" />
    </joint>

    <joint name="base_joint" type="fixed">
        <parent link="base_link" />
        <child link="l_dg_mount" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>


    <ros2_control name="GazeboSimSystem" type="system">
        <hardware>
            <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </hardware>

        <!-- Finger 1 joints -->
        <joint name="j_dg_1_1">
            <command_interface name="position">
                <param name="min_position">-3.14</param>
                <param name="max_position">3.14</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_position">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="j_dg_1_2">
            <command_interface name="position">
                <param name="min_position">-3.14</param>
                <param name="max_position">3.14</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_position">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="j_dg_1_3">
            <command_interface name="position">
                <param name="min_position">-3.14</param>
                <param name="max_position">3.14</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_position">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="j_dg_1_4">
            <command_interface name="position">
                <param name="min_position">-3.14</param>
                <param name="max_position">3.14</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_position">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <!-- Finger 2 joints -->
        <joint name="j_dg_2_1">
            <command_interface name="position">
                <param name="min_position">-0.5</param>
                <param name="max_position">0.5</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_position">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="j_dg_2_2">
            <command_interface name="position">
                <param name="min_position">-0.5</param>
                <param name="max_position">0.5</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_position">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="j_dg_2_3">
            <command_interface name="position">
                <param name="min_position">-0.5</param>
                <param name="max_position">0.5</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_position">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="j_dg_2_4">
            <command_interface name="position">
                <param name="min_position">-0.5</param>
                <param name="max_position">0.5</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_position">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <!-- Finger 3 joints -->
        <joint name="j_dg_3_1">
            <command_interface name="position">
                <param name="min_position">-0.5</param>
                <param name="max_position">0.5</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_position">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="j_dg_3_2">
            <command_interface name="position">
                <param name="min_position">-0.5</param>
                <param name="max_position">0.5</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_position">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="j_dg_3_3">
            <command_interface name="position">
                <param name="min_position">-0.5</param>
                <param name="max_position">0.5</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_position">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="j_dg_3_4">
            <command_interface name="position">
                <param name="min_position">-0.5</param>
                <param name="max_position">0.5</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_position">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name = "j_dg_4_1">
            <command_interface name="position">
                <param name="min_position">-0.5</param>
                <param name="max_position">0.5</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_position">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name = "j_dg_4_2">
            <command_interface name="position">
                <param name="min_position">-0.5</param>
                <param name="max_position">0.5</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_position">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name = "j_dg_4_3">
            <command_interface name="position">
                <param name="min_position">-0.5</param>
                <param name="max_position">0.5</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_position">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name = "j_dg_4_4">
            <command_interface name="position">
                <param name="min_position">-0.5</param>
                <param name="max_position">0.5</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_position">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        

        <joint name = "j_dg_1_inner">
            <command_interface name="position">
                <param name="min_position">-3.14</param>
                <param name="max_position">3.14</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_position">0.01</param>
            </state_interface>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>    

        <joint name = "j_dg_1_outer">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
            <param name="mimic">j_dg_1_inner</param>
            <param name="multiplier">1.179</param>
            <param name="offset">0.0</param>
        </joint>

        <joint name = "j_dg_1_mimic">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
            <param name="mimic">j_dg_1_inner</param>
            <param name="multiplier">0.2514</param>
            <param name="offset">0.0</param>
        </joint>

        <joint name = "j_dg_4_inner">
            <command_interface name="position">
                <param name="min_position">-3.14</param>
                <param name="max_position">3.14</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_position">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        
        </joint>

        <joint name = "j_dg_4_outer">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
            <param name="mimic">j_dg_4_inner</param>
            <param name="multiplier">1.179</param>
            <param name="offset">0.0</param>
        </joint>

        <joint name = "j_dg_4_mimic">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
            <param name="mimic">j_dg_4_inner</param>
            <param name="multiplier">0.2514</param>
            <param name="offset">0.0</param>
        </joint>

    </ros2_control>

    <gazebo>

        <gravity>false</gravity>
        <physics type="dart">  <!-- dart 엔진이 일반적으로 더 빠름 -->
            <max_step_size>0.0</max_step_size>  <!-- 스텝 사이즈 증가 -->
            <real_time_factor>1.0</real_time_factor>
            <real_time_update_rate>250</real_time_update_rate>  <!-- 업데이트 레이트 감소 -->
            <max_contacts>5</max_contacts>  <!-- 접촉점 수 감소 -->

            <!-- 추가 최적화 설정 -->
            <solver>
                <type>quick</type>
                <iters>10</iters>  <!-- 반복 횟수 감소 -->
                <precon_iters>0</precon_iters>
                <sor>1.0</sor>
            </solver>
        </physics>

        <self_collide>0</self_collide>

        <!-- 렌더링 최적화 -->
        <visual>
            <shadows>false</shadows>
            <grid>false</grid>
        </visual>

        <collision_detector>ode</collision_detector>
        <constraints>
            <contact_max_correcting_vel>0.0</contact_max_correcting_vel>
            <cfm>0.0</cfm>
            <erp>0.0</erp>
        </constraints>

        <plugin name="ign_ros2_control::IgnitionROS2ControlPlugin"
            filename="libign_ros2_control-system.so">
            <robot_param_node>robot_state_publisher</robot_param_node>
            <robot_param>robot_description</robot_param>
            <parameters>$(find dg4f_gz)/config/dg4f_gz_controller.yaml</parameters>
            <ros>
                <namespace>/</namespace>
            </ros>
        </plugin>

    </gazebo>

</robot>